<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://s3.amazonaws.com/hamiltonalarmvideos/Assets/favicon.png"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Do Wake Danny">
  <meta property="og:description" content="The world's first crowd-sourced, trust-based alarm clock">
  <meta property="og:url" content="www.dowakedanny.com">
  <meta property="og:image" content="https://s3.amazonaws.com/hamiltonalarmvideos/Assets/Clock+States+1+-+Ready.png">

</head>
<body>
  <section class="section">
      <div id="app"><!-- React --></div>
  </section>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html>