@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Montserrat:500,800');

#statusBox{
	font-family: 'Montserrat', sans-serif;
}

.alarmButton{
    background-color:#C2353E;
    font-family: 'Baloo Bhaijaan', sans-serif;
    border-radius:0px;
    color:white;
    font-size:20px;
}
.alarmButton:hover{
    background-color:#4C4E4D;
    font-family: 'Baloo Bhaijaan', sans-serif;
    border-radius:0px;
    color:white;
    font-size:20px;
}
.alarmButton:active{
    background-color:#C2353E;
    font-family: 'Baloo Bhaijaan', sans-serif;
    border-radius:0px;
    color:white;
    font-size:20px;
}
#topRight{
    top: 20px;
    right: 20px;
    position:fixed;
    font-size:40px;
    color:#C2353E;
    opacity:0.5;
    cursor:pointer;
}

#topRight:hover {
    opacity:1;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    background-color:#C2353E;
    font-family: 'Baloo Bhaijaan', sans-serif;
    border-radius:0px;
    color:white;
    font-size:20px;
}

.alarmimg{
    width:100%;
    position:relative;
}
.secondhand{
    width:100%;
    position:absolute;
    right:0;
    transform-origin: 50.3% 54%;
    border-radius:50%;
}
#imageContainer{
    width:100%;
    position:relative;
}
#imageWrapper{
    margin-bottom:-25px;
}
.customHeader{
    font-family: 'Baloo Bhaijaan', sans-serif;
}
.customHeader1{
    color:#C2353E;
}
.customHeader2{
    color:#4C4E4D;
}
h4{
    color:#4C4E4D;
	font-family: 'Montserrat', sans-serif;
}
h4 span.alarmdata{
	font-weight:800;
}
h4 span.alarmreason{
	color:#C2353E;
}
.container{
	margin:auto;
	max-width:500px;
	text-align:center;
    padding-right:30px;
    padding-left:30px;
}
.ringAlarmForm{
    text-align:left;
    position:relative;
    z-index:1;
}

h4{
    font-size:3vmin;
}
#centerMe{
    width:100%;
    text-align:center;
}
#centerCaptcha{
    width: 164px;
    height: 144px;
    margin:auto;
}


.showMore{
    margin-bottom:50px;
}

.singleVideoContent{
    text-align:left;
    padding-left:10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#statusBox{
	background-color:#2ffc28;
    display: inline-block;
    padding:10px;
    border-radius:4px;
	font-size:3.5vmin;
    margin-bottom:10px;
}
#statusBox.ON{
	background-color:#2ffc28;
}
#statusBox.ON:after{
	content:"Online";
}
#statusBox.CON{
	background-color:#30dbd2;
}
#statusBox.CON:after{
	content:"Connecting";
}
#statusBox.RIN{
	background-color:#30dbd2;
}
#statusBox.RIN:after{
	content:"Ringing";
}
#statusBox.PRO{
	background-color:#30dbd2;
}
#statusBox.PRO:after{
	content:"Processing Video";
}
#statusBox.UP{
	background-color:#30dbd2;
}
#statusBox.UP:after{
	content:"Uploading Video";
}


.or-spacer {
	margin-top: 20px;
	margin-left: auto;
	margin-right:auto;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.or-spacer .mask {
  overflow: hidden;
  height: 20px;
}
.or-spacer .mask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px black;
}
.or-spacer span {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999;
  background: white;
}
.or-spacer span i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #aaa;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #999;
}

.or-spacer-vertical {
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
  width: 100px;
  position: relative;
}
.or-spacer-vertical .mask {
  overflow: hidden;
  width: 20px;
  height: 200px;
}
.or-spacer-vertical.left .mask:after {
  content: '';
  display: block;
  margin-left: -20px;
  width: 20px;
  height: 100%;
  border-radius: 12px / 125px;
  box-shadow: 0 0 8px black;
}
.or-spacer-vertical.right .mask:before {
  content: '';
  display: block;
  margin-left: 20px;
  width: 20px;
  height: 100%;
  border-radius: 12px / 125px;
  box-shadow: 0 0 8px black;
}

.modal-title{
  font-family: 'Baloo Bhaijaan', sans-serif;
}