.container{
	margin:auto;
	max-width:500px;
	text-align:center;
    padding-right:30px;
    padding-left:30px;
}
.ringAlarmForm{
    text-align:left;
}
.captcha{
    margin:auto;
}

h4{
    font-size:3vmin;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#statusBox{
	background-color:#2ffc28;
    display: inline-block;
    padding:10px;
    border-radius:4px;
	font-size:3.5vmin;
}
#statusBox.ON{
	background-color:#2ffc28;
}
#statusBox.ON:after{
	content:"Online";
}
#statusBox.CON{
	background-color:#30dbd2;
}
#statusBox.CON:after{
	content:"Connecting";
}
#statusBox.RIN{
	background-color:#30dbd2;
}
#statusBox.RIN:after{
	content:"Ringing";
}
#statusBox.PRO{
	background-color:#30dbd2;
}
#statusBox.PRO:after{
	content:"Processing Video";
}
#statusBox.UP{
	background-color:#30dbd2;
}
#statusBox.UP:after{
	content:"Uploading Video";
}